// Variables
$site-width: 1024px;
$primary-color: #3498db;
$light-color: #ffffff;
$medium-color: #ecf0f1;
$dark-color: #333;
$error-color: rgb(216, 51, 51);

// Resets
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100vh;
}

body {
  min-height: 100vh;
  font-family: sans-serif;
  background-color: $medium-color;
  color: $dark-color;
  position: relative;
}

section {
  border-radius: 0.5rem;
  background-color: $light-color;
  box-shadow: 3px 3px 15px 3px rgba(0, 0, 0, 0.1);
}

// Init Form
.initial-form {
  width: 80%;
  margin: 18rem auto 0 auto;
}

// Backpack Content
.content {
  display: flex;
  flex-direction: row;
  transition: all 0.5s ease;
  margin-top: 11rem;

  .backpack {
    flex: 4;
    justify-content: center;
    text-align: center;

    &__title {
      padding-top: 1rem;
      padding-bottom: 0.7rem;
      color: $primary-color;
    }

    &__img {
      position: relative;
      width: 360px;
      height: 360px;
      margin: auto;
      img {
        position: relative;
        z-index: 15;
      }
      &--overlay {
        position: absolute;
        width: 237px;
        height: 304.25px;
        top: 42.7px;
        left: 62px;
        z-index: 0;
        border-radius: 5px;
      }
    }

    &__capacity {
      padding: 0.6rem 0;
    }
  }

  .backpack-list {
    flex: 6;
    display: flex;
    flex-direction: column;
    margin: 1.5rem;

    .list {
      position: relative;
      list-style: none;
      border-radius: 1rem;
      height: 283px;
      box-shadow: 2px 1px 10px 3px rgba(0, 0, 0, 0.1);
      overflow: auto;

      &__info {
        text-align: center;
        padding-top: 0.6rem;
      }

      &__item {
        position: relative;

        .item {
          display: flex;
          justify-content: space-between;
          padding: 0.7rem;
          padding-right: 6.6rem;
        }

        &:nth-of-type(odd) {
          background-color: $medium-color;
        }

        .buttons {
          position: absolute;
          right: 0.7rem;
        }
      }
    }
  }
}

.calc {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 15;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  max-height: 400px;
  background-color: $primary-color;
  border-radius: 0.5rem;
  clip-path: circle(13% at 82% 86.2%);
  transition: clip-path 0.5s ease-in-out;

  &__title {
    text-align: center;
    padding: 0.9rem;
    color: $light-color;
    font-size: 1.3rem;
  }

  &__img {
    height: 110px;
  }

  &__icon {
    visibility: visible;
    padding: 1.6rem 1.8rem;
    position: absolute;
    color: $light-color;
    bottom: 0.5rem;
    right: 0.5rem;
    font-size: 2.5rem;
  }

  &__info {
    font-size: 0.95rem;
    padding-top: 0.5rem;
  }
}
