// Variables
$site-width: 1024px;
$primary-color: #3498db;
$light-color: #ffffff;
$medium-color: #ecf0f1;
$dark-color: #333;
$error-color: rgb(216, 51, 51);

// Resets
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: sans-serif;
  background-color: $medium-color;
  color: $dark-color;
  position: relative;
}

section {
  border-radius: 0.5rem;
  background-color: $light-color;
  box-shadow: 3px 3px 15px 3px rgba(0, 0, 0, 0.1);
}

// Init Form
.initial-form {
  margin: 18rem auto;
  width: 70%;
}

// Backpack Content
.content {
  display: flex;
  flex-direction: row;
  transition: all 0.5s ease;
  margin-top: 11rem;

  .backpack {
    flex: 1;
    justify-content: center;
    text-align: center;

    &__title {
      padding-top: 1.4rem;
      padding-bottom: 0.5rem;
      color: $primary-color;
    }

    &__img {
      position: relative;
      img {
        position: relative;
        z-index: 15;
      }
      &--overlay {
        position: absolute;
        width: 237px;
        height: 304.25px;
        top: 42.5px;
        left: 62px;
        z-index: 0;
        border-radius: 5px;
      }
    }

    &__capacity {
      padding-top: 0.3rem;
      padding-bottom: 0.7rem;
    }
  }

  .backpack-list {
    flex: 2;

    .list {
      position: relative;
      list-style: none;
      border-radius: 1rem;
      height: 283px;
      width: 80%;
      margin: 0 1.5rem 1.5rem auto;
      box-shadow: 2px 1px 10px 3px rgba(0, 0, 0, 0.1);
      overflow: auto;

      &__item {
        position: relative;

        .item {
          display: flex;
          justify-content: space-between;
          padding: 0.7rem;
          padding-right: 6.6rem;
        }

        &:nth-of-type(odd) {
          background-color: $medium-color;
        }

        .buttons {
          position: absolute;
          right: 0.7rem;
        }
      }
    }
  }
}

// Calculator
.calc-container {
  position: absolute;
  width: 300px;
  height: 400px;
  bottom: 3rem;
  right: 3rem;
}

.calc {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  background-color: $primary-color;
  clip-path: circle(13% at 82% 86.6%);
  transition: clip-path 0.5s ease-in-out;

  &__title {
    text-align: center;
    padding: 1rem;
    color: $light-color;
    font-size: 1.3rem;
  }

  &__img {
    height: 110px;
  }

  &__result {
    color: $light-color;
    margin-top: 0.9rem;
    font-size: 1.1rem;
  }

  &__icon {
    visibility: visible;
    padding: 1.6rem 1.8rem;
    position: absolute;
    color: $light-color;
    bottom: 0.5rem;
    right: 0.5rem;
    font-size: 2.5rem;
  }

  &__info {
    color: $dark-color;

    font-size: 0.95rem;
    padding-top: 0.8rem;
  }
}
