// Variables
$site-width: 1024px;
$primary-color: #3498db;
$light-color: #ffffff;
$medium-color: #ecf0f1;
$dark-color: #333;
$error-color: rgb(216, 51, 51);

// Resets
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: sans-serif;
  background-color: $medium-color;
  color: $dark-color;
}

section {
  border-radius: 0.5rem;
  background-color: $light-color;
  box-shadow: 3px 3px 15px 3px rgba(0, 0, 0, 0.1);
}

.content {
  display: flex;
  flex-direction: row;

  .backpack {
    flex: 1;
    justify-content: center;
    text-align: center;

    &__title {
      padding-top: 1.4rem;
      padding-bottom: 0.5rem;
    }

    &__img {
      position: relative;
      img {
        position: relative;
        z-index: 15;
      }
      .overlay {
        position: absolute;
        background: linear-gradient(
          180deg,
          white 0%,
          white 40%,
          #3498db 40%,
          #3498db 100%
        );

        width: 237px;
        height: 305px;
        top: 42px;
        left: 62px;
        z-index: 0;
        border-radius: 5px;
      }
    }

    &__capacity {
      padding-top: 0.3rem;
      padding-bottom: 0.7rem;
    }
  }

  .backpack-list {
    flex: 2;

    .form {
      margin: 1.5rem 1.5rem 1.5rem auto;
      box-shadow: 2px 1px 10px 3px rgba(0, 0, 0, 0.1);
    }

    .list {
      list-style: none;
      border-radius: 1rem;
      height: 283px;
      width: 80%;
      margin: 0 1.5rem 1.5rem auto;
      box-shadow: 2px 1px 10px 3px rgba(0, 0, 0, 0.1);
      overflow: auto;

      &__item {
        position: relative;
        display: flex;
        justify-content: space-between;
        background-color: $light-color;
        padding: 0.7rem;
        padding-right: 4.5rem;

        &:nth-of-type(odd) {
          background-color: $medium-color;
        }

        .buttons {
          position: absolute;
          right: 0.7rem;
        }
      }
    }
  }
}
