// Navbar
.navbar {
  background-color: $primary-color;
  &__title {
    color: $light-color;
    font-size: 2.5rem;
    padding: 1.7rem 0;
  }
}

// Form
.form {
  display: flex;
  justify-content: center;
  background-color: $light-color;
  width: 80%;
  margin: auto;
  padding: 3rem;
  border-radius: 0.5rem;

  &--add-item {
    margin: 1.5rem 1.5rem 1.5rem auto;
    box-shadow: 2px 1px 10px 3px rgba(0, 0, 0, 0.1);
    padding: 1rem 0 1.5rem 0;
  }

  &--edit-item {
    background: none;
    padding: 0;
    box-shadow: 0;
    margin: 0;
    width: 90%;

    .form__group {
      height: 41.48px;
    }
  }

  &__group {
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
  }
}

// Buttons
.btn {
  cursor: pointer;
  background-color: transparent;
  border: 1.5px solid $primary-color;
  border-radius: 4px;
  outline: none;
  font-size: 1rem;
  height: 3rem;
  padding: 0 1rem;
  margin-top: 18px;

  transition: all 0.5s ease;

  &:hover {
    background-color: $primary-color;
    color: $light-color;
  }

  &--confirm {
    height: 2.5rem;
  }

  &--list {
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 1rem;

    &--edit {
      color: $primary-color;
    }

    &--delete {
      color: $error-color;
    }
  }

  &--edit {
    margin: 0;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 3px;
    background-color: transparent;

    &--confirm {
      padding: 0;
      margin-right: 0.8rem;
    }

    &--cancel {
      font-size: 1.7rem;
      padding: 0;
      margin-right: 0.2rem;

      color: $error-color;
    }
  }
}

// Inputs
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.input {
  outline: none;
  height: 3rem;
  width: 12rem;
  font-size: 1rem;
  border: 1px solid $dark-color;
  border-radius: 4px;
  padding: 0 0.5rem;
  transition: border 0.5s ease;
  background-color: transparent;

  &:hover {
    border-color: $primary-color;
  }

  &:focus {
    border-color: $primary-color;
  }

  &--where {
    width: 250px;
  }

  &--item {
    width: 245px;
    height: 2.5rem;
  }

  &--item-cap {
    width: 95px;
    height: 2.5rem;
  }

  &--edit {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $dark-color;
    border-radius: 0;

    &--item {
      width: 380px;
    }

    &--cap {
      width: 60px;
    }
  }
}

// Arrows
.arrow {
  border: solid $primary-color;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;

  &--right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    padding: 5.5px;
  }
}

// Displays
.hidden {
  position: absolute;
  visibility: hidden;
  opacity: 0.1;
  top: 0;
  left: 0;
}
